body{
    margin: 0;
    padding: 0;
    background-color:  blue;
    color: white;

}
@font-face {
    font-family: 'ReundedFixedsys' ;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff');
    font-weight : normal;
    font-style : normal;
}

.retro-font-1 {
    font-family: 'ReundedFixedsys';
    font-size: 64px;
    }

.box-1 {
    display: flex;
    width: 128px;
    height: 64px;
    background-color: black;
    color:  lawngreen;
}